[submodule "ros_controllers"]
	path = ros_controllers
	url = https://github.com/ros-controls/ros_controllers.git
[submodule "robotnik_sensors"]
	path = robotnik_sensors
	url = https://github.com/RobotnikAutomation/robotnik_sensors.git
[submodule "robot_localization"]
	path = robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
