[submodule "ros_controllers"]
	path = ros_controllers
	url = https://github.com/ros-controls/ros_controllers.git
[submodule "robotnik_sensors"]
	path = robotnik_sensors
	url = https://github.com/RobotnikAutomation/robotnik_sensors.git
[submodule "robot_localization"]
	path = robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "geographic_info"]
	path = geographic_info
	url = https://github.com/ros-geographic-info/geographic_info.git
[submodule "unique_identifier"]
	path = unique_identifier
	url = https://github.com/ros-geographic-info/unique_identifier.git
[submodule "mavros"]
	path = mavros
	url = https://github.com/mavlink/mavros.git
[submodule "navigation"]
	path = navigation
	url = https://github.com/ros-planning/navigation.git
[submodule "velodyne_simulator"]
	path = velodyne_simulator
	url = https://github.com/lmark1/velodyne_simulator.git
[submodule "twist_mux"]
	path = twist_mux
	url = https://github.com/ros-teleop/twist_mux.git
[submodule "imu_tools"]
	path = imu_tools
	url = https://github.com/ccny-ros-pkg/imu_tools.git
[submodule "robotnik_msgs"]
	path = robotnik_msgs
	url = https://github.com/RobotnikAutomation/robotnik_msgs.git
[submodule "slam_gmapping"]
	path = slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
[submodule "openslam_gmapping"]
	path = openslam_gmapping
	url = https://github.com/ros-perception/openslam_gmapping.git
[submodule "geometry2"]
	path = geometry2
	url = https://github.com/ros/geometry2.git
[submodule "navigation_msgs"]
	path = navigation_msgs
	url = https://github.com/ros-planning/navigation_msgs.git
[submodule "teb_local_planner"]
	path = teb_local_planner
	url = https://github.com/rst-tu-dortmund/teb_local_planner.git
[submodule "costmap_converter"]
	path = costmap_converter
	url = https://github.com/rst-tu-dortmund/costmap_converter.git
[submodule "move_base_flex"]
	path = move_base_flex
	url = https://github.com/magazino/move_base_flex.git
[submodule "laser_filters"]
	path = laser_filters
	url = ./laser_filters/
[submodule "octomap_ros"]
	path = octomap_ros
	url = ./octomap_ros/
[submodule "octomap_msgs"]
	path = octomap_msgs
	url = ./octomap_msgs/
[submodule "hector_gazebo"]
	path = hector_gazebo
	url = ./hector_gazebo/
