[submodule "ros_controllers"]
	path = ros_controllers
	url = https://github.com/ros-controls/ros_controllers.git
[submodule "robotnik_sensors"]
	path = robotnik_sensors
	url = https://github.com/RobotnikAutomation/robotnik_sensors.git
[submodule "robot_localization"]
	path = robot_localization
	url = https://github.com/cra-ros-pkg/robot_localization.git
[submodule "geographic_info"]
	path = geographic_info
	url = https://github.com/ros-geographic-info/geographic_info.git
[submodule "unique_identifier"]
	path = unique_identifier
	url = https://github.com/ros-geographic-info/unique_identifier.git
